.main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #231F20;
  font-family: "Archivo";
  background-image: url(../public/mountains.png);
  background-repeat: no-repeat;
  background-size: 130vw;
  background-position: bottom;
  background-position-x: right;
  background-blend-mode: screen;
}

.title_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 34vh;
  gap: .5vw;
}

.landslide {
  color: #FB3640;
  margin-top: 1.5vw;
}

.title {
  color: #F3E9DC;
  font-size: 4.8vw;
  margin-bottom: 1.5vw;
}

.title:hover {
  cursor: default;
}

.main_form {
  display: flex;
  justify-content: center;
}

.region_selector_container {
  width: 3vw;
  padding-left: .3vw;
  padding-right: .3vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F3E9DC;
  font-weight: 800;
  border-top-left-radius: .3vw;
  border-bottom-left-radius: .3vw;
  color: #FB3640;
}

.p_container {
  height: 1.5vw;
  width: 3vw;
  background-color: #FB3640;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .3vw;
  margin-left: .1vw;
}

.p_container:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.p_container > p {
  color:#F3E9DC;
  font-size: .9vw;
}

.main_form>input {
  width: 26vw;
  height: 2.8vw;
  outline-color: transparent;
  border-color: transparent;
  background-color: #F3E9DC;
  font-family: "Archivo";
  font-weight: 500;
  font-size: 1.1vw;
}

.main_form>input:focus {
  outline: none;
}

.main_form>button {
  height: 100%;
  width: 6vw;
  border-color: transparent;
  background-color: #FB3640;
  color: #F3E9DC;
  font-family: "Archivo";
  font-weight: 500;
  font-size: 1.2vw;
  border-top-right-radius: .3vw;
  border-bottom-right-radius: .3vw;
}

.main_form>button:hover {
  cursor: pointer;
}

.modal {
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal_container {
  width: 30vw;
  height: 19vw;
  background-color: #F3E9DC;
  border-radius: .3vw;
  display: flex;
  flex-direction: column;
  animation-name: animate;
  animation-duration: .5s;
  padding-left: .5vw;
  padding-right: .5vw;
  padding-bottom: 1vw;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.modal_header {
  display: flex;
  align-items: center;
  gap: 8.7vw;
  font-size: 1.3vw;
  margin-top: -.5vw;
}

.modal_header > p {
  margin-left: 10.8vw;
  color:#231F20;
}

.close_icon_container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 1.4vw;
  width: 1.4vw;
  margin-bottom: .7vw;
}

.close_icon_container:hover {
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.356);
}

.close_icon:hover {
  cursor: pointer;
}

.modal_body {
  display: flex;
  align-items: center;
  gap: 1.5vw;
}

.modal_h3_container {
  height: 1.9vw;
  width: 3.5vw;
  background-color: #FB3640;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .3vw;
  color:#F3E9DC;
  margin-bottom: -.4vw;

}

.modal_h3_container:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;}

.modal_h3_container > h3 {
  font-weight: 700;
  font-size: 1.1vw;
}

.modal_region_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal_region_container > h1 {
  font-size: 4vw;
  color: rgba(128, 128, 128, 0.356);
  margin-top: -1vw;
  margin-bottom: 1vw;
  margin-left: 2.5vw;
}

.modal_regions_container {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.container_collection {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.4vw;
  gap: 2.8vw;
}

@keyframes animate {
  from {opacity: 0}
  to {opacity: 1}
}

