.main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #231F20;
  font-family: "Archivo";
  background-image: url(../public/mountains.png);
  background-repeat:no-repeat;
  background-size:130vw;
  background-position:bottom;
  background-position-x: right;
  background-blend-mode:screen;
}

.title_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 34vh;
  gap: .5vw;
}

.landslide {
  color:#FB3640;
  margin-top: 1.5vw;
}

.title {
  color: #F3E9DC;
  font-size: 4.8vw;
  margin-bottom: 1.5vw;
}

.title:hover {
  cursor:default;
}


.main_form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_form > input {
  width: 26vw;
  height: 2vw;
  outline-color: transparent;
  border-color: transparent;
  border-top-left-radius: .3vw;
  border-bottom-left-radius: .3vw;
  background-color: #F3E9DC;
  font-family: "Archivo";
  font-weight: 500;
  font-size: 1vw;
  padding-left: 1vw;
}

.main_form > input:focus {
  outline: none;
}

.main_form > button {
  height: 100%;
  width: 6vw;
  border-color: transparent;
  background-color: #FB3640;
  color:#F3E9DC;
  font-family: "Archivo";
  font-weight: 500;
  font-size: 1vw;
  border-top-right-radius: .3vw;
  border-bottom-right-radius: .3vw;
}

.main_form > button:hover {
  cursor: pointer;
  background-color: #cf2e36;
}