.match_container {
    display: flex;
    align-items: center;
    padding-right: .5vw;
}

.leftmost_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 4.7vw;
    margin-right: .8vw;
}

.leftmost_container > h3 {
    margin-bottom: -.5vw;
    font-size: .8vw;
    color: white;
    font-weight: 600;
    text-align: center;
}

.leftmost_container > p {
    font-size: .7vw;
    font-weight: 500;
    color: white;
}

.champion_container {
    display: flex;
    align-items: center;
    gap: .5vw;
}

.victory {
    font-size: .7vw;
    color: #18BD9B;
    margin-bottom: -.2vw;
}

.defeat {
    font-size: .7vw;
    color:#E84057;
    margin-bottom: -.2vw;
}

.champion_icon_container_victory {
    margin-left: -.2vw;
    height: 3.5vw;
    width: 3.5vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5vw;
    box-shadow: #18bd9cb6 0vw .2vw, rgba(46, 240, 133, 0.3) 0vw .4vw, rgba(46, 240, 133, 0.2) 0vw .6vw, rgba(46, 240, 133, 0.1) 0vw .8vw, rgba(46, 240, 133, 0.05) 0vw 1vw;
}

.champion_icon_container_defeat {
    margin-left: -.2vw;
    height: 3.5vw;
    width: 3.5vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5vw;
    box-shadow: #e84056b0 0vw .2vw, rgba(240, 46, 46, 0.3) 0vw .4vw, rgba(240, 46, 46, 0.2) 0px .6vw, rgba(240, 46, 46, 0.1) 0px .8vw, rgba(240, 46, 46, 0.05) 0px 1vw;
}

.champion_icon {
    height: 112%;
    width: 112%;
}

.summs_container {
    display: flex;
    flex-direction: column;
    gap: .5vw;
}

.summ_container {
    height: 1.45vw;
    width: 1.45vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .2vw;
}

.perks_container {
    display: flex;
    flex-direction: column;
    gap: .3vw;
}

.perk1_container {
    height: 1.8vw;
    width: 1.8vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .2vw;
    margin-left: -.15vw;
}

.perk2_container {
    height: 1.35vw;
    width: 1.35vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .2vw;
    margin-bottom: .2vw;
}

.score_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 4.7vw;
    margin-right: .2vw;
}

.kda_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .2vw;
}

.killsandassists {
    color: white;
    font-size: .8vw;
}

.deaths {
    color:#E84057;
    font-size: .8vw;
}

.divider {
    color: #7e7e7e;
    font-size: .8vw;
}

.kda_calc_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3vw;
    margin-top: -1.3vw;
}

.kda_word {
    color: white;
    font-weight: 400;
    font-size: .7vw;
}

.perfect {
    margin-top: .7vw;
}

.cs_container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: -1.2vw;
}

.cs {
    font-size: .7vw;
    margin-right: .1vw;
}

.cs_bracket {
    font-size: .7vw;
}

.vision_score {
    font-size: .7vw;
    color: white;
    margin-top: -.4vw;
}

.items_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .2vw;
}

.smaller_items_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .2vw;
}

.item_container {
    width: 1.72vw;
    height: 1.72vw;
    overflow: hidden;
    border-radius: .3vw;
    background-color: rgba(0, 0, 0, 0.418);
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer_items_container {
    display: flex;
    align-items: center;
    gap: .2vw;
}

.trinket_container {
    width: 1.72vw;
    height: 1.72vw;
    border-radius: .3vw;
    overflow: hidden;
    margin-bottom: 1.9vw;
}

.participants_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1.5vw;
    gap: 1vw;
}

.team_container {
    display: flex;
    align-items:flex-start;
    justify-content: center;
    flex-direction: column;
    width: 6vw;
}

.participant_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .2vw;
    margin-top: -.4vw;
}

.non_selected_summoner_name {
    font-size: .5vw;
    color: white;
    font-weight: 500;
    letter-spacing: .02vw;
}

.selected_summoner_name {
    font-size: .5vw;
    color: white;
    font-weight: 700;
    letter-spacing: .02vw;
}

.non_selected_summoner_name:hover {
    text-decoration: underline;
    cursor: pointer;
}

.participant_icon_container {
    width: .9vw;
    height: .9vw;
    overflow: hidden;
    border-radius: .2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.participant_icon_container > img {
    width: 110%;
    height: 110%;
}
