.main_container {
    height: 100vh;
    background-color: #231F20;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Archivo";
    background-image: url(../public/mountains.png);
    background-repeat: no-repeat;
    background-size: 130vw;
    background-position: bottom;
    background-position-x: right;
    background-blend-mode: screen;
}

.container {
    display: flex;
    flex-direction: column;
    padding-top: 3vw;
}

.summoner_container {
    display: flex;
}

.top_container {
    display: flex;
    margin-top: 1.5vw;
    margin-left: .3vw;
}

.summoner_icon_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7vw;
    width: 7vw;
}

.summoner_icon {
    border-radius: 10%;
    height: 7vw;
    width: 7vw;
    border: .3vw solid #FB3640;
}

.summoner_info_container {
    display: flex;
    align-items: center;
    gap: 1vw;
    width: 21.3vw;
}

.name_update_container {
    display: flex;
    flex-direction: column;
    margin-bottom: 2vw;
}

.name_update_container>p {
    color: white;
    font-size: 2vw;
    margin-bottom: 1vw;
}

.update_button {
    height: 2.5vw;
    width: 6.5vw;
    background-color: #FB3640;
    border-radius: .3vw;
    border-color: transparent;
    font-size: 1.2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3vw;
    font-weight: 400;
    font-family: "Archivo";
    color: white;
}

.update_button:hover {
    cursor: pointer;
}

.level_container {
    position: absolute;
    z-index: 1;
    width: 2vw;
    height: 2vw;
    background-color: #FB3640;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    left: 34.5vw;
    top: 15.1vw;
    font-size: .8vw;
    font-weight: 600;
}

.rank_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1.5vw;
    min-width: 19vw;
    align-self: flex-start;
    padding: 1vw 1vw;
    background-color: #00000031;
    border-radius: .3vw;
    gap: .7vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    margin-right: -1vw;
}

.mid_container {
    display: flex;
    gap: 2vw;
}

.home_button:hover {
    cursor: pointer;
}

.matches_container {
    display: flex;
    flex-direction: column;
    border-radius: .3vw;
    background-color: #00000031;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    margin-top: 1.5vw;
    gap: .2vw;
    padding: .5vw .8vw;
}